<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1065747582432-3j5on4dn7vfvpijvrbrrls3urhe9f6dn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1065747582432-3j5on4dn7vfvpijvrbrrls3urhe9f6dn</string>
	<key>API_KEY</key>
	<string>AIzaSyAe7Q2KSozwGp1xv8zOC4wckj5PN_AhWUE</string>
	<key>GCM_SENDER_ID</key>
	<string>1065747582432</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.instagramWithProvider</string>
	<key>PROJECT_ID</key>
	<string>instagram-clone-9adcc</string>
	<key>STORAGE_BUCKET</key>
	<string>instagram-clone-9adcc.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1065747582432:ios:f64ba2bea3d14b2eda6f85</string>
</dict>
</plist>